@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

@import "tailwindcss";



@theme inline {
  --font-Honk: "Honk", system-ui;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-xs: 400px;
}
